.sign-up-form,
.login-form,
.newNote-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 45%;
  background: rgba(255, 255, 255, 0.486);
  color: rgb(0, 0, 0);
  margin-left: 3%;
  font-size: 1.5rem;

  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(175, 0, 0, 0.479);
  }

  .inputs {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    letter-spacing: 0.2em;

    &:hover {
      transform: scale(11.5rem);
    }

    input {
      padding: 10px;
      border: none;
      background-color: rgb(255, 255, 255);
      font-size: 1.15rem;
      width: 100%;
    }

    label {
      text-align: start;
    }
  }
}

.login-form {
  height: 65%;
}

.newNote-form {
  background: rgba(255, 255, 255, 0.445);
}
